<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Quyền internet (bắt buộc cho url_launcher) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- KHAI BÁO CÁC APP/INTENT CẦN QUÉT (THAY THẾ QUERY_ALL_PACKAGES) -->
    <queries>
        <!-- Mở Zalo -->
        <package android:name="com.zing.zalo" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="zalo" />
        </intent>

        <!-- Mở Facebook -->
        <package android:name="com.facebook.katana" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="fb" />
        </intent>

        <!-- Mở Messenger -->
        <package android:name="com.facebook.orca" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="fb-messenger" />
        </intent>

        <!-- Cho phép mở link HTTPS -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- Cho phép gọi điện -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>

        <!-- Cho phép mở Google Maps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>

        <!-- Flutter xử lý văn bản -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application
        android:usesCleartextTraffic="true"
        android:label="UBNA Manager"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

</manifest>
